* {}

.lightMode {
    background-color: white;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.darkMode {
    background-color: rgb(41, 41, 41);
    transition: background-color 0.5s ease, color 0.5s ease;
}

.footer-transition {
    transition: background-color 0.5s ease, color 0.5s ease;
}

.fade-on-load {
    animation: fade-in 1s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }
}

.header-class {
    position: fixed !important;
    width: 100%;
}